<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-item>
  <ion-label>Email: </ion-label>
  <ion-input placeholder="Digite aqui..."></ion-input>
</ion-item>
<ion-item>
  <ion-label>Senha: </ion-label>
  <ion-input placeholder="Digite aqui..."></ion-input>
</ion-item>

<ion-item>
  <ion-button>ENTRAR</ion-button>
  <ion-button>REGISTRAR</ion-button>
  <ion-button>ESQUECEU A SENHA</ion-button>
</ion-item>

<ion-item>
  <ion-button routerLink="/tabs/tab1">VOLTAR</ion-button>
</ion-item>

<ion-content>

</ion-content>
