<ion-header [translucent]="true">
  <ion-toolbar color="favorite">
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <div class="circle"></div>
  <div class="circle2"></div>
  <div class="circle1"></div>
  <div class="circle21"></div>

  <div class="container"></div>
  <ion-grid>
    <ion-row>
      <ion-button color="button" shape="round" fill="outline" routerLink="/login">LOGIN</ion-button>
    </ion-row>
    <ion-row>
      <ion-button color="button" shape="round" fill="outline" routerLink="/registro">REGISTRO</ion-button>
    </ion-row>
  </ion-grid>

</ion-content>
