@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

.container{
  display: block;
  margin-top: 50%;
}
ion-button{
  color: rgb(255, 145, 0);
  display: block;
  margin-left: auto;
  margin-right: auto;
}
