<ion-header [translucent]="true">
  <ion-toolbar color="favorite">
    <ion-buttons slot="secondary">
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button routerLink="/home">
        <ion-icon slot="icon-only" name="log-in-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">

  <div class="container"></div>
  <ion-grid>
    <ion-row>
      <ion-button color="button" shape="round" fill="outline" routerLink="/login">LOGIN</ion-button>
    </ion-row>
    <ion-row>
      <ion-button color="button" shape="round" fill="outline" routerLink="/registro">REGISTRO</ion-button>
    </ion-row>
  </ion-grid>

</ion-content>
