<ion-header>
  <ion-toolbar color="favorite">
    <ion-title>registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item color="favorite">
    <ion-label>Nome: </ion-label>
    <ion-input placeholder="Digite aqui..."></ion-input>
  </ion-item>
  <ion-item color="favorite">
    <ion-label>CPF: </ion-label>
    <ion-input type="number" placeholder="Digite aqui..."></ion-input>
  </ion-item>
  <ion-item color="favorite">
    <ion-label>Email: </ion-label>
    <ion-input type="email" placeholder="Digite aqui..."></ion-input>
  </ion-item>
  <ion-item color="favorite">
    <ion-label>Senha: </ion-label>
    <ion-input type="password" placeholder="Digite aqui..."></ion-input>
  </ion-item>
  <ion-item color="favorite">
    <ion-label>Confirmar Senha: </ion-label>
    <ion-input type="password" placeholder="Digite aqui..."></ion-input>
  </ion-item>

  <ion-item>
    <ion-button color="button" shape="round" fill="outline" routerLink="/tabs/tab1">VOLTAR</ion-button>
    <ion-button color="button" shape="round" fill="outline">SALVAR</ion-button>
  </ion-item>
</ion-content>
