<ion-header>
  <ion-toolbar>
    <ion-title>registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Nome: </ion-label>
    <ion-input placeholder="Digite aqui..."></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>CPF: </ion-label>
    <ion-input placeholder="Digite aqui..."></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Email: </ion-label>
    <ion-input placeholder="Digite aqui..."></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Senha: </ion-label>
    <ion-input placeholder="Digite aqui..."></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Confirmar Senha: </ion-label>
    <ion-input placeholder="Digite aqui..."></ion-input>
  </ion-item>

  <ion-item>
    <ion-button routerLink="/tabs/tab1">VOLTAR</ion-button>
    <ion-button>SALVAR</ion-button>
  </ion-item>
</ion-content>
